<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
 <bean class="com.takeo.model.InstituteBean" id='itb'>
	 <property name="name" value="Welcome to class"></property>
	 <property name="facultyNames">
		 <list>
			 <value>Anish</value>
			 <value>Anish1</value>
			 <value>Anish2</value>
			 <value>Anish3</value>
		 </list>
	 </property>
	<property name="courseNames">
		 <list>
			 <value>Algorithmn</value>
			 <value>Logic</value>
			 <value>Programming</value>
			 <value>Programming II</value>
		 </list>
	 </property>
	 
 </bean>
 </beans>