<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<bean class="com.takeo.model.Student" id="stu">
		<property name="sno" value="100"></property>
		<property name="sname" value="shiva"></property>
		<property name="sadd" value="Hyd"></property>
	</bean>

	<bean class="com.takeo.model.Student" id="stu1">
		<property name="sno" value="101"></property>
		<property name="sname" value="rani"></property>
		<property name="sadd" value="Hyd"></property>
	</bean>


	<bean class="com.takeo.model.Student" id="stu2">
		<property name="sno" value="102"></property>
		<property name="sname" value="malli"></property>
		<property name="sadd" value="Hyd"></property>
	</bean>


	<bean class="com.takeo.model.College" id="clg">

		<property name="name" value="Welcome To Takeo Boot Camp"></property>

		<property name="students">

			<list>
				<ref bean="stu" />

				<ref bean="stu1" />
				<ref bean="stu2" />
			</list>

		</property>
	</bean>

</beans>